body {
    margin: 0;
    font-family: 'Itim', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('https://cdn.discordapp.com/attachments/1353213824932646942/1366280351143428158/green-bg.png?ex=68105f3b&is=680f0dbb&hm=e1e252d88eb868c53175381a63f103e51105922bb2ae7e535b84e672aaa10fd7&');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #DFD8B6;
    overflow-y: auto;
}
.navbar {
    background-color: #1B543E;
    color: #DFD8B6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed; /* Fixes the navbar at the top */
    top: 0; /* Ensures it's at the top of the page */
    left: 0;
    right: 0;
    z-index: 1000;
    height: 80px;
}
.navbar img {
    height: 150px;
    
    width: auto; 
}
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}
.hamburger div {
    width: 100%;
    height: 3px;
    background-color: #DFD8B6;
}
.main-content {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px; /* Give space below the fixed navbar */
    padding-bottom: 50px; /* Space for the footer */
    margin-top: 80px; 
}
.main-content h1 {
    font-size: 60px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding-bottom:50px ;
}
.main-content button {
    font-family: 'Itim', sans-serif;
    background-color: #0FBDE9;
    color: #DFD8B6;
    padding: 20px 40px;
    border: none;
    border-radius: 15px;
    font-size: 50px;
    cursor: pointer;
}
.main-content button:hover {
    background-color: #45a049;
}
.footer {
    text-align: center;
    color: #DFD8B6;
    padding: 10px 0;
    
    margin-top: auto;
}