<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
        rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-share.css') }}"> 
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/name.js') }}"defer></script>
        <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    
    <!-- Bootstrap Icons -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
    <!-- Header Bar -->
    <div class="header">
        <button id="hamburger" class="hamburger">&#9776;</button>
        <img src="{{ url_for('static', filename='images/explorer.png') }}" alt="Logo" class="logo">
        {% if show_nav %}
        <nav class="navbar">
            <a href="{{ url_for('auth.login') }}">Login</a>
            <a href="{{ url_for('auth.sign_up') }}">Sign Up</a>
        </nav>
        {% endif %}
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <a href="#"><img src="{{ url_for('static', filename='images/profile.png') }}" alt="Profile" class="sidebar-icon"> Profile</a>
        <a href="{{ url_for('main.FindAdv') }}"><img src="{{ url_for('static', filename='images/Itineray.png') }}" alt="Find_Itinerary" class="sidebar-icon"> Find Itinerary</a>
        <a href="{{ url_for('main.MyTrips') }}"><img src="{{ url_for('static', filename='images/trips.png') }}" alt="My_Trips" class="sidebar-icon"> My Trips</a>
        <a href="#"><img src="{{ url_for('static', filename='images/Insights.png') }}" alt="Insights" class="sidebar-icon"> Insights</a>
        <a href="{{ url_for('main.friend') }}"><img src = "{{ url_for('static', filename='images/IMG_9605.PNG') }}" alt="share" class="sidebar-icon"> Share</a>
        <a href="{{ url_for('auth.logout') }}"><img src="{{ url_for('static', filename='images/x-22.png') }}" alt="Log_out" class="sidebar-icon"> Log out</a>
        
    </div>

    {% block content %}
    <!-- Main Content -->
    

    <section class="main-content">
        <h1>Your Ideal Adventure Awaits You!!!</h1>
        <button onclick="redirect()">Find Adventure</button>
    </section>
       
        <!-- The bobdy of the pages -->
        
    
    {% endblock %}

    <!-- Bootstrap JS -->
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js">
    </script>
    <script>
        // Toggle Sidebar
        const sidebar = document.getElementById("sidebar");
        const main_part = document.getElementById("main_part");
        const toggleButton = document.getElementById("hamburger");

        toggleButton.addEventListener("click", () => {
            sidebar.classList.toggle("active");
            main_part.classList.toggle("active");
        });
        function redirect() {
        window.location.href = "{{ url_for('auth.login') }}"; // Replace with the file name of the target HTML
    }
        
    </script>
    {% block scripts %}
    {% endblock %}
</body>
<div class="footer">
    &copy; 2025 Explorate
</div>
</html>