{% extends "base.html"%}
{% block title%}DataEntry{% endblock%}
{% block content%}
    
<!-- Flash messages block -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul id="flash-messages">
            {% for category, message in messages %}
                <li class="{{ category }} flash-message">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<!-- End of flash messages block -->

<section class="main-content">
    <h1>Your Ideal Adventure Awaits You!!!</h1>
    <button onclick="redirect()">Find Adventure</button>
</section>
{% endblock%}
{% block scripts %}
<script>
    function redirect() {
        window.location.href = "{{ url_for('main.adventure') }}"; // Replace with the file name of the target HTML
    }
</script>
{% endblock%}
