{% extends "base.html"%}
{% block title%}Shared Trips{% endblock%}
{% block content%}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shareview.css') }}">
{% endblock %}

<h1 class="text-center">User Adventures and Recommendations</h1>
    
<div class="flex items-center justify-center min-h-screen py-8">
    <div class="max-w-4xl w-full mx-auto px-4 sm:px-6 lg:px-8">
        
        <div class="overflow-hidden">
            <table class="table-auto w-full custom-table">
                <thead>
                    <tr>
                        <th class="py-2 px-2 border-b text-left text-gray-600 font-semibold">Username</th>
                        <th class="py-2 px-2 border-b text-left text-gray-600 font-semibold">Adventure Name</th>
                        <th class="py-2 px-2 border-b text-left text-gray-600 font-semibold">Recommendation 1</th>
                        <th class="py-2 px-2 border-b text-left text-gray-600 font-semibold">Recommendation 2</th>
                        <th class="py-2 px-2 border-b text-left text-gray-600 font-semibold">Recommendation 3</th>
                        <th class="py-2 px-2 border-b text-left text-gray-600 font-semibold">Recommendation 4</th>
                    </tr>
                </thead>
                <tbody id="data-table">
                    <!-- Data will be dynamically populated here -->
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock%}
{% block scripts %}
<script src="{{ url_for('static', filename='js/shareView.js') }}"></script>
{% endblock%}
