@import url(" https://fonts.googleapis.com/css2?family=Itim&display=swap");

.title-bar {
    background-color: #DFD8B6;
    color: #1B543E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: fixed; /* Fixes the navbar at the top */
    top: 100px; 
    left: 0;
    right: 0;
    z-index: 1000;
    height: 50px;
}
.section {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 100px 50px 0px;
    background-color:#DFD8B6;
    border-radius: 15px;
    height: auto;
}
.section h2 {
    color:#1B543E;
    font-size:36px;
}
.sub-section {
    width: 70%;
    background-color: #FFFBE9;
    border-radius: 15px;
    margin-bottom: 60px; /* space between section and subsection*/
}
.option-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    min-height: 100vh;
}
.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.option img{
    width: 250px;
    height: auto;
}

.option h3 {
    font-size: 30px;
    color: #1B543E;
}

.btn {
    background-color: #0FBDE9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
    color: white;
}

/* Design for star rating */
.star-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.star{
    cursor: pointer;
}

.footer {
    text-align: center;
    color: #DFD8B6;
    padding: 10px 0;
    margin-top: auto;
}
