

/* Rectangle Container */
/* Rectangle Container */
.form-container {
  width: 400px;
  margin: 50px auto; /* center horizontally */
  background: #DFD8B6;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}

/* Toggle Buttons */
.form-box {
  display: flex;
  font-size: 25px;
  justify-content: center;
  margin-bottom: 20px;
}

.form-box button {
  background: none;
  border: none;
  font-size: 25px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  color: #1B543E;
  font-weight: bold;
}

.form-box button.active {
  border-bottom: 2px solid #1B543E; /* underline active tab */
  font-size: 25px;
}

/* Form Styling */
.form-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-content input {
  padding: 10px;
  font-size: 25px;
  border: 1px solid #DFD8B6;
  color: #1B543E;
  border-radius: 5px;
}
.form-content label {
  font-size: 25px;
}

.form-content a {
    padding: 8px 15px;
    font-family: 'Inter', sans-serif;
    color: #1B543E;
    font-size: 0.9rem;
}

.form-content label {
  padding: 8px;
  color: #1B543E
}

.form-content a:hover {
  text-decoration: underline;
}

.form-content button {
  padding: 10px;
  background-color: #0FBDE9;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}

.form-content button:hover {
  background-color: #73A640;
}

/* Hidden Class */
.hidden {
  display: none;
}
