<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Your Ideal Adventure</title> 
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <header class="header">
        <a href="index.html" class="hamburger">&#9776;</a>
        <img src="{{ url_for('static', filename='images/explorer.png') }}" alt="Logo" class="logo">
    </header>


    <body>
        <div class="container_yaaa">
            <div class="device-frame">
                <div class="adventure-form">
                    <div class="form-group">
                        <label for="adventure-name" class="form-label">Adventure Name</label>
                        <input type="text" id="adventure-name" class="form-input" value="Adventure 1">
                    </div>
                    
                    <div class="form-group last-form-group">
                        <label for="guests" class="form-label">Add Guest</label>
                        <input type="text" id="guests" class="form-input" value="1 friend and 1 pet"readonly>
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="overlay" class="overlay"></div>

        <div id="popup" class="popup hidden">
          <div class="text-center">
            <div class="mb-2">
              <div class="flex justify-between items-center bg-yellow-50 rounded mb-10 box">
                <div class="content-center">
                  <p class="text-lg font-bold">Adults</p>
                  <p class="text-sm">Ages 18 and above.</p>
                </div>
                <div class="flex items-center">
                  <button class="decrement bg-green-600 text-white circle-btn" data-target="adults">-</button>
                  <span id="adults" class="mx-3 text-lg">1</span>
                  <button class="increment bg-green-600 text-white circle-btn" data-target="adults">+</button>
                </div>
              </div>
      
              <div class="flex justify-between items-center bg-yellow-50 rounded mb-10 box">
                <div class="content-center">
                  <p class="text-lg font-bold">Children</p>
                  <p class="text-sm">Ages below 18.</p>
                </div>
                <div class="flex items-center">
                  <button class="decrement bg-green-600 text-white circle-btn" data-target="children">-</button>
                  <span id="children" class="mx-3 text-lg">0</span>
                  <button class="increment bg-green-600 text-white circle-btn" data-target="children">+</button>
                </div>
              </div>
      
              <div class="flex justify-between items-center bg-yellow-50 rounded mb-10 box">
                <div class="content-center">
                  <p class="text-lg font-bold">Pets</p>
                </div>
                <div class="flex items-center">
                  <button class="decrement bg-green-600 text-white circle-btn" data-target="pets">-</button>
                  <span id="pets" class="mx-3 text-lg">0</span>
                  <button class="increment bg-green-600 text-white circle-btn" data-target="pets">+</button>
                </div>
              </div>
            </div>
      
            <div class="bg-yellow-50 p-4 rounded mb-2 box">
              <div class="content-center">
                <p class="text-lg">Do you want to invite the group?</p>
                <div class="flex justify-around">
                  <button id="yesButton" class="custom-blue text-white px-4 py-2 rounded">Yes</button>
                  <button id="noButton" class="custom-blue text-white px-4 py-2 rounded">No</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container_button">
            <button id="nextButton" class="next-button" data-yes-url="{{ url_for('email_share') }}" data-no-url="{{ url_for('questions') }}">Next</button>
        </div>
        <script src="{{ url_for('static', filename='js/script_DataEnt.js') }}"></script>
    </body>
    <footer>
        <div class="footer">
            &copy; 2025 Explorate
        </div>
    </footer>
</html> 
