<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-share.css') }}"> 
        <title>{% block title %}Explorate{% endblock %}</title>
    </head>

    <!--the hamburger and logo are overlapping each other..??? I don't think my navbar stuff is updated pls update...-->
    <header class="header">
        <a class="hamburger">&#9776;</a>
        <img src="{{ url_for('static', filename='images/explorer.png') }}" alt="Logo" class="logo">
    </header>

    <body>
        <main>
        {% block content %}{% endblock %}
        </main>

        <footer class="footer">
            <p>© 2025 Explorate</p>
        </footer>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}{% endblock %}
    </body>
</html>