<!DOCTYPE html>

<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Explorate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <header class="header">
        <a href="index.html" class="hamburger">&#9776;</a>
        <img src="https://cdn.discordapp.com/attachments/1353213824932646942/1366129471769411728/explorer.png?ex=680fd2b7&is=680e8137&hm=8e5d40ecf7f77bf09e66515c9d35580682640da9c3eebca62589a4ecbb4d46c5&" alt="Logo" class="logo">
    </header>
    <body>
        <section class="main-content">
            <h1>Your Ideal Adventure Awaits You!!!</h1>
            <button onclick="redirect()">Find Adventure</button>
        </section>
        <script>
            function redirect() {
                window.location.href = "{{ url_for('adventure') }}"; // Replace with the file name of the target HTML
            }
        </script>
    </body>
    <div class="footer">
        &copy; 2025 Explorate
    </div>

</html>