<!--This is the other trips page where users can look at different itineraries in different states-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>Other Trips Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-share.css') }}">
    </head>

    <header>
        <div class = "navbar">
            <div class = "hamburger">
            <div></div>
            <div></div>
            <div></div>
            </div>
            <img src="SharePage-icons\explorer.png" alt="Logo">
            <div></div>
        </div>
    </header>

    <body>
        <div class = "section">
            <h2> See where others are travelling to!</h2>
            <img src="SharePage-icons\auMap.png" alt="Map of Australia">
            <!--Still need to do image mapping here-->
        </div>
    </body>
</html>
