<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>Rate Page</title>
        <link rel="stylesheet" href="styles-share.css">
    </head>

    <header>
        <div class = "navbar">
            <div class = "hamburger">
            <div></div>
            <div></div>
            <div></div>
            </div>
            <img src="SharePage-icons\explorer.png" alt="Logo">
            <div></div>
        </div>
    </header>

    <body>
        <div class = "section">
            <h2>Share with the world!</h2>
            <div class = "post-container">
                <img src="SharePage-icons\explorer.PNG" alt="post image"> <!--will be replaced with actual post image code-->
                    <div class="post-details">
                        <h3>Created by: [username]<br>State:<br>Category:<br>Rating:</h3>
                        <a href="rate-page.html" class="btn">Rate trip!</a>
                    </div>
            </div>
            <h3>Tell others what you think!</h3>
            <textarea rows="8" cols="50" placeholder="Share your thoughts..."></textarea>
            <div class="btn">Post Now!</div>
        </div>
    </body>
